

@*  
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    @model BusinessLib.Model.Entity.UserInfo;
*@
@{

}
@model BusinessLib.Model.Entity.UserInfo;
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"


<!doctype html>
<html lang="en">

@*<head>
     Required meta tags 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     Bootstrap CSS 
    <link rel="stylesheet" href="~/Asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Asset/css/styles.css">
    <link rel="stylesheet" href="~/Asset/font-awesome/css/font-awesome.min.css">
    <title>UKVI-CHINA</title>
</head>*@

<body>

  
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8 mt-5">
                <h1 style="font-weight: 400;">
                @Localizer["Welcome To Official UKVI-CHINA Website For Travel Agents."]</h1>
                @*<p class="text-muted">
        @*Lorem ipsum dolor pabloa escobar plata o plomo Senor Lorem ipsum dolor pabloa escobar plata o plomo
        Senor Lorem ipsum dolor pabloa escobar plata o plomo Senor Lorem ipsum dolor pabloa escobar plata o
        plomo Senor Lorem ipsum dolor pabloa escobar plata o plomo Senor Lorem ipsum dolor pabloa escobar
        plata o plomo Senor Lorem ipsum dolor pabloa escobar plata o plomo Senor Lorem ipsum dolor pabloa
        escobar plata o plomo Senor Lorem ipsum dolor pabloa escobar plata o plomo Senor Lorem ipsum dolor
        pabloa escobar plata o plomo Senor*@
                @*</p>*@
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm" style="border-top: 4px solid #e86020; border-top-left-radius: 0;
                border-top-right-radius: 0;">
                    <div class="card-body">

                        <h4 class="card-title" style="font-weight: 400; color: #000;">
                            Login to continue with your process
                        </h4>
                        <form class="mt-4" asp-co="Login" asp-action="Save" method="post">
                            <div lasp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email*</label>
                                <input type="email" class="form-control" id="Email"
                                       aria-describedby="emailHelp" placeholder=@Localizer["Enter email address."] asp-for="Email">
                                <span asp-validation-for="Email"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Password*</label>
                                <input type="password" class="form-control" id="password-field"
                                       placeholder="Enter Password" asp-for="Password" value=""><span toggle="#password-field"
                                                                                                      class="fa fa-fw fa-eye field-icon toggle-password" style="cursor: pointer;"></span>
                            </div>
                            <div class="form-group">
                                <img src="images/Captcha-ex.jpg-.webp" class="" width="260" height="53px" alt="Captcha">
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                       placeholder="Enter Captcha">
                            </div>
                            <button type="submit" href="" class="btn btn-orange w-100">Login</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div style="padding: 0 1.25rem;">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <small><a href="register.html" class="card-link">Sign Up</a></small>
                        </div>
                        <div class="col-md-6 text-right">
                            <small><a href="forgotpwd.html" class="card-link">Forgot Password</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <hr class="my-5">
        </hr> -->
        <!-- <div class="row">
            <div class="col-md-12">
                <p class="text-muted mb-0">Get Started</p>
                <h2 style="font-weight: 400;">Register with VFS Global to take advantage of our online services:</h2>
            </div>
        </div> -->
        <!-- <ul class="list-unstyled my-4">
            <li class="media">
                <img src="..." class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Register Online as an agent</h5>
                    <div class="text-muted">Speed up the process by registering and activating your account online <a
                            href="register.html">Register Now</a></div>
                </div>
            </li>
            <hr class="my-4">
            </hr>
            <li class="media">
                <img src="..." class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Manage multiple applications</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <hr class="my-4">
            </hr>
            <li class="media">
                <img src="..." class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Reporting Dashboard</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
        </ul> -->
        <!-- <hr class="my-5">
        </hr> -->
        <!-- <div class="row">
            <div class="col-md-12">
                <p class="text-muted mb-0">Contact Us</p>
                <h2 style="font-weight: 400;">Please contact the sales team, for any questions, sugestions or complaints
                </h2>
            </div>
        </div> -->
        <!-- <div class="row my-5">
            <div class="col-md-4">
                <form class="border-left p-3">
                    <h5>India</h5>
                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-muted">Email</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-muted">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                value="98765453423">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form class="border-left p-3">
                    <h5>India</h5>
                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-muted">Email</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-muted">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                value="98765453423">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form class="border-left p-3">
                    <h5>India</h5>
                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-muted">Email</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-muted">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                value="98765453423">
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>

    <footer style="position: absolute; bottom: 0; width: 100%;">
        <div class="container-fluid">
            <div class="row justify-content-between text-vfs px-5 py-2">
                <div class="col-6">
                    <small>2018 VFS Global Group. All Rights Reserved. ISO 23026 Compliant Information</small>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Asset/js/jquery.min.js"></script>
    <script src="~/Asset/js/popper.min.js"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script>
        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
</body>


